// icons
.icon
    //background-color: brand1
    color: brand1
    display: flex
    justify-content: center
    align-items: center
    width: 45px
    height: 45px
    padding:0.2em
    font-size: 1.1em
    border-radius: 50%

.icon.alt
    background-color: brand2
.ic-basic
    font-size: 2.2em
    line-height: 1.8em
    color: brand1
.ic-basic::before
    color: brand1
.ic-basic.rev
    color: white
.ic-basic.rev::before
    color: white
ul.iconRow,
ul.iconRow li
    list-style-type: none
ul.iconRow li
    margin: marXXS marStd 0 0
    padding: padXXS padStd padXXS 0 
    display: inline-block
    border-right:1px solid brand1
ul.iconRow li:last-child
    border-right:none
ul.iconRow li i 
    font-size: 2em


       

#navMobile .icon,
#navHeader .icon
    background: none
body > footer .icon
    display: inline-flex
    // background-color: blackAlp10
    font-size: 1.4em
    width:40px
    height: 40px
    margin-right: 1px
    margin-bottom: 10px
    justify-content: flex-start
    background: none
    padding: 0
// ctas
a.majorCTA,
a.ctaButton
    line-height: 1em
    color: white
    background-color: brand3
    padding: padXXS padXS padXXS padXS
    margin-bottom: marXXS*0.6
    display: inline-block
    white-space: nowrap
    border-radius: 2em
    font-size: 0.8em
    font-weight: 500
div#masthead a.majorCTA
    color: white !important
a.ctaButton,
a.btn-outline-dark,
span.ctaButton
    border-radius: 6px
    background: brand2
    color: white !important
    font-size: 0.95em
    font-weight:500
    border: 1px solid brand2
    padding:padXXS padXS padXXS padXS
    //margin-right:marXXS
    display: inline-flex
    justify-content: space-between
    transition: 0.2s
    white-space: normal
    @media phoneRule
        padding: padM padL
        font-weight: 300
div.containSlider div.content div > a
    border-radius: 10px
    color: brand1 !important
    background-color: brand5
    font-size: 0.95em
    font-weight:500
    border: 1px solid brand5
    padding:padXXS padStd padXXS padStd
    text-decoration: none
    display: inline-flex
    justify-content: space-between
    transition: 0.2s
    white-space: normal
    margin-top: 1.5em;
    @media phoneRule
        padding padM padL
        font-weight: 300

nav a.ctaButton
    //background:none
    //border-color: brand1
    //color:brand1 !important
    //margin-left: 0
    margin-left: 0
    margin-bottom: 0
    //padding:padXXS*.75 padXS
    //white-space: nowrap
nav a.ctaButton.logout
    margin-left: 0
a.ctaButton i
    margin-left:15px 
    margin-right:10px;
    transition: 0.2s 
a.ctaButton i:before
    color: white
a.ctaButton:hover,
a.ctaButton:hover > i:before,
a.btn-outline-dark:hover,
a.btn-outline-dark:hover > i:before,
span.ctaButton:hover,
span.ctaButton:hover > i:before
    background: none !important
    color: brand2 !important
    border-color: brand2 !important
    border-bottom-color: brand2 !important
    transition: 0.2s
div.containSlider div.content div > a:hover
    background: none !important
    color: white !important
    border-color: white !important
    border-bottom-color: white !important
    transition: 0.2s     
a.ctaButton:hover i
    margin-left:25px
    margin-right:0px
    transition: 0.5s
a.ctaButton.logout 
    background: alert
    border-color: alert
@media phoneRule
    a.majorCTA
        font-size:1.1em
        font-weight: 800
        padding: padM padXL padM padXL  
    a.ctaButton
        padding-top: padM
        padding-bottom: padM



.imgText
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 0
    padding-left:0
    border-radius: 8px
body > footer .imgText
    padding:0;
header.sticky .imgText
    display: flex
    align-items: center
.siteLogo
    font-size: 16px
    line-height: 18px
.txtC .txtC_Pr
    font-size: 0.9em
    font-weight: 700
    line-height: 1.2em
    margin: .1em 0
    margin-right: 5px
    @media phoneRule
        font-size: .85em
.txtC .txtC_Sc
    font-size: .65em
    font-weight: 500
    line-height: 1.2em
    text-transform: uppercase
    @media phoneRule
        font-size: .5em
        //display: none
@media phoneRule
    .txtC_Sc
        margin-right:5px

a.imgText
    border: 1px solid rgba(0,0,0,0)
a.imgText:hover
    border:1px solid blackAlp10
a.imgText.siteLogo
    border:none


  
.imgText span.txtC
    display: flex
    flex-direction: column
    justify-content: center 
    padding: 1px 0  
    @media phoneRule
        width: 100%
        flex-direction: row 
        justify-content: flex-start 
        
header.sticky .imgText span.txtC
    flex-direction: row
    align-items: baseline

.imgText span.txtC > span
    white-space: nowrap   
.imgText picture
    display: flex
    width: 100%  
    height: 100% 
.imgText picture img
    height: auto
    width: 100%

.imgText.tall span.txtC
    justify-content: flex-end   

.imgText.stacked
    flex-direction: column
.imgText.stacked span.txtC
    padding: 0
    padding-left: 5px 
.imgText.stacked picture 
    margin-right: 0
    margin-bottom: 10px


picture.logoAsset
    max-width:65px
.long picture.logoAsset
    max-width:300px
.tall picture.logoAsset
    max-width:60px   

header.sticky picture.logoAsset
    max-width:35px
    max-height:35px

header.sticky .long picture.logoAsset
    max-width:100px
header.sticky .tall picture.logoAsset
    max-width:25px   
header.sticky .imgText.stacked
    flex-direction: row
header.sticky .imgText.stacked picture
    margin-bottom: 0

// logos
.mLogo picture
    margin-right: 10px
    max-width:100% !important
.mLogo img
    max-height:8vh !important
    width:auto !important
.mLogo.long 
    flex-direction: column
.mLogo.long picture 
    max-width:150px !important
    @media phoneRule
        max-width:175px !important
        margin-bottom: 7px
        margin-top: 7px
.mLogo.long img
    max-height:100% !important
    max-width:150px !important
    @media phoneRule
        max-width:175px !important
        


.inpage-logo
    display: block
    width: 50vw
    height: auto 
.inpage-logo-stacked
    display: block
    width: 50vw
    height: auto      
@media ttrigger    
    body > footer img.logo
        width: 5vw
    .inpage-logo
        width: 30vw
    .inpage-logo-stacked
        width: 30vw    
@media dtrigger    
    .inpage-logo
        width: 25vw
    .inpage-logo-stacked
        width: 10vw




// misc
i.block
    display: inline-block
    font-size:1em
    line-height: 100%
    font-weight: 900
.faded
    opacity:0.4   
    transition: 0.3s 
.rotateIC
    transition: 0.2s
    transform: rotate(180deg) 
.brand1
    color: brand1
.brand2
    color: brand2


// video
.pbVideo
    position: relative
    padding-bottom: 56.25%
    padding-top: 0
    height: 0
.pbVideo iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
div.video
    position: relative
div.video > div
    width: 100%
    height: 100%  
.hidden-xs
    display: none
div.vidHolder
    position: absolute
    top: 0
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden
video.hidden-xs
    width: 100%
    height: 100%
    object-fit: cover
@media dtrigger
    video.hidden-xs
        width: 100%
        height: 100%
@media dtrigger
    .hidden-xs
        display: block
       


// images
img 
    //width: 100%
    //height: auto
    display: block
img.med
    width: 75%
    margin: 0px auto





// slider
div.slider
    //border: 1px solid red
    //overflow: hidden
    background-color: brand1



// inpage nav for desktop
.inpgNv
    text-align: right 
@media phoneRule
    .inpgNv .inpgNvTop
        display: none




/* inView effects */
@media dtrigger
    .greyToColor.onOff .stateInactive
        background-color: blackAlp50 !important
        filter:grayscale(100%)
        transition: 1s
    .greyToColor.onOff .stateActive
        background-color: blackAlp10 !important
        filter:grayscale(0%)
        transition: 2.5s    




/* simple list */
ul.featureList
    padding:0
ul.featureList li
    list-style-type: none
    line-height:1.5em
    margin-bottom: 0.75em
    margin-left:15px
ul.featureList li strong
    display: inline-block
    min-width:12%
ul.featureList li:before
    font-family: 'icomoon'
    content: "\e906"
    font-size: 0.9em
    margin-right:3px
    margin-left:-15px


/* footer list */
body > footer ul 
    margin: 0
    padding: 0
    margin-bottom: marXXS
    padding-bottom: padXXS
    // border-bottom: 2px solid blackAlp10



body > footer ul > li
    list-style-type: none
    line-height: 1.4em
    padding: 0.85em 0 0.7em 0
    border-top: 1px solid blackAlp10
body > footer ul > li:first-child
    border-top:none    



div.containSlider
    position: relative
    margin-bottom: marM
body.brand div.containSlider
    margin-top: marM

body.lightSlider div.slickSlider
    background-color: white
div.slickSlider
    background-color: brand1

div.slideTextOverlay
    position: absolute
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    //font-size: 3.5em
    //letter-spacing: -0.05em
    //font-weight: 600
    padding:0
body.lightSlider div.slideTextOverlay
    color: brand2
body.darkSlider div.slideTextOverlay
    color: brand1

div.slideTextOverlay *
    //{test}








/* .smallGrid */
.smallGrid
    display: grid
    grid-gap: 0.5vw 1.5vw
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr))
.smallGrid > *
    padding: padXXS*0.5
    border-radius: 4px
   

// breadcrumb
#breadcrumb
    margin-bottom: marStd*1.2
    @media phoneRule
        margin-bottom: marL
        padding-bottom: padXL
        border-bottom: 1px solid blackAlp10
#breadcrumb nav
    display: inline-flex
    align-items: center
    line-height: 1.3em
    font-size: 0.85em
    flex-wrap: wrap
#breadcrumb nav a
    padding-right: 0
    text-decoration: underline
    margin-left:0
    padding-left:0
#breadcrumb nav a,
#breadcrumb nav a.activeLink
    font-weight: 400 !important
    @media phoneRule
        margin-right:5px
#breadcrumb nav i
    color: brand0
    margin-top:2px
    padding: 0 5px  
    @media phoneRule
        padding: 0 5px 0 0



// brand sub head mods
article.subhead section:last-child
    align-self: stretch
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
body.brand.model article.subhead
    padding-bottom: padXXS
body.brand.model article.subhead section:first-child
    flex-basis: 35%
    padding-right: padM
body.brand.model article.subhead section:last-child
    justify-content: flex-start
    flex-basis: 65%
body.brand article.subhead picture.brand
    display: inline-block
    width:130px
    margin: marStd marL marStd 0
    @media phoneRule
        width:100px
        margin-bottom: marXL
body.brand article.subhead img
    width:100% 
    height: auto    
@media phoneRule
    article.subhead section:last-child
        display: block
        padding-top:0 !important
    article.subhead a.smallTeaser
        display: none



// cat
i.toggleIcon:before
    font-family: 'icomoon'
    content: '\e904'
    font-size: 1em
i.toggleIcon.upDown:before
    font-family: 'icomoon'
    content: '\e907'
@media phoneRule
    .toggleIcon
    a.slideToggleTrigger
        display: none
    div.catGroup a.catItem,
    div.catGroup div.catItem
        display: block
        margin: marXL 0 marXL*1.5 0 
    .catItem h6
        font-weight: 700
    div.imageThumb
        height: 60vw !important
        margin-bottom: 5vh !important
    div.landing div.imageThumb
        max-width: 100vw  !important
        height:60vw !important

.catItem a h6
    font-weight: 500
    text-decoration: underline
    max-width:90%
.catItem:hover a h6
    text-decoration: none
.catItem a h3
    text-decoration: underline
.catItem:hover a h3
    text-decoration: none

div.keyStats
    margin-top: 1em
div.keyStats p
    font-weight: 400
    margin: 0
    margin-bottom: 0.6em
    max-width:80%
div.keyStats span
    text-transform: uppercase
    font-size: 0.75em
    letter-spacing: 0
    font-weight:500
    display: block

div.imageThumb
    height: 11vw
    background-color: blackAlp5
    background-size: cover
    background-position: center
    margin-bottom: marXS
div.landing div.imageThumb
    max-width: 9vw
    height:6vw
@media dtrigger
    div.keyStats.careers
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-top: marXS
    main > div.catList
        margin: marStd auto marStd auto
        padding: padXXS 0 padXXS 0
    div.catList a.basic
        display: inline-block
        margin-right: marL
        font-size: 0.9em
        margin-bottom: marXXS
    div.catList div.catGroup
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        margin-top: marXXS
        margin-bottom: 0
    div.catList .catItem
        flex-basis: 19%
        margin-right: marM*1.8
        margin-bottom: marL   
    div.catList.landing .catItem
        flex-basis: 14%
        margin-right: marM*1.1
        margin-bottom: marM
    div.catList.navs div.catGroup
        display: grid
        grid-column-gap: 5vw;
        grid-row-gap: 2.5vw;
        //grid-template-columns: repeat(3, \[col\] 20vw )
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr) )
        grid-auto-flow: row dense
        grid-auto-rows: min-content 
        margin-bottom: marM
    div.catList.navs .catItem
        margin:0
        margin-bottom: marXXS
        padding-bottom: padStd
        border-bottom: 3px solid brand2 
        align-self: start
    

// model

body.model div.keyStats
    margin-top: marM
    margin-bottom: marXXS
    @media phoneRule
        margin-bottom: marM
body.model div.keyStats p
    font-weight: 600
    margin: 0
    padding-bottom: padXXS
    margin-bottom: marXXS
    max-width:100%
    border-bottom: 1px solid brand1
    @media phoneRule
        margin-bottom: marM


body.model div.keyStats p a
    font-weight:300
body.model div.keyStats p:last-child
    border-bottom: none
body.model div.keyStats span
    text-transform: none
    font-size: 1em
    letter-spacing: 0
    font-weight:600
    display: inline-block
    min-width:50%
    margin-right: marXXS

body.model div.imageThumb
    height: 11vw
body.model .catItem h6
    text-decoration: none
    font-weight: 600
@media dtrigger
    body.model div.catList div.catGroup
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        margin-top: marXXS
        margin-bottom: 0
    body.model div.catList .catItem
        flex-basis: 25%
        margin-right: marM*1.8
        margin-bottom: marL



// model gallery
div.gallery 
    margin-bottom: marXS
    width: 100%
    @media phoneRule
        margin-top: marXL

div.gallery div.galleryItem
    min-height: 37vw
    background-color: #cccccc
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    @media phoneRule
        min-height: 40vh
        margin-bottom: 1em

/* gallery height */

div.gallery div.galleryItem div.pbVideo iframe
    height: 37vw;

.thumbImg {
    margin: marXXS*.5 0
    display: inline-flex
    flex-wrap: wrap
}
div.gallery div.thumbImg a {
    padding:1px
    margin-right: marXXS*.25
    border:2px solid rgba(255,255,255,0.0)

}
div.gallery div.thumbImg span {
    width:72px
    height: 48px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    text-align: center
    display: block
}
div.gallery div.thumbImg a.activeLink {
    border:2px solid brand1
}
div.gallery div.thumbImg a.activeLink span {
    opacity:0.5;
}
div.gallery div.thumbImg a.isVideo span:before {
    position: absolute;
    width:40px;
    height:30px;
    line-height:30px;
    border-radius:8px;
    top:50%;
    left:50%;
    margin-left: -20px;
    margin-top: -15px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    content:"\e906";
    font-size:26px;
    font-family: "icomoon";
}


// avail models - responsive table
table.rowResponsive
    margin: marStd 0 marStd 0
    border-collapse: collapse
table.rowResponsive tbody tr
    border-bottom: 1px solid brand2
table.rowResponsive td
    padding: padXS*.9 padStd padXS*.8 padStd   
    text-align: center 
table.rowResponsive tr td:first-child
    text-align: left
    font-weight: 600

@media phoneRule
    table.rowResponsive thead 
        display: none;
    table.rowResponsive tbody tr
        display:flex
        flex-wrap: wrap
        justify-content: space-between
        margin-top: marM
        margin-bottom: marL
        padding-bottom: padStd
    table.rowResponsive tbody td
        //display: block
        font-size:85%
        flex-basis: 100%
        text-align: left
        display: flex
        justify-content: space-between
        padding: padM padStd padM padStd
        border-bottom: 1px solid blackAlp10
    table.rowResponsive tbody td:last-child
        border-bottom: none
    table.rowResponsive tbody td:first-child
        flex-basis: 100%
        font-size: 1.2em
@media ttrigger    
    table.rowResponsive
        border-color: red
        max-width: 90vw
    table.rowResponsive thead 
        background-color: brand2
        color: white
    table.rowResponsive tbody tr:last-child
        border-bottom: none



// print image styles

img.print
    display: none
img.print.logo
    max-width: 30%
    margin-top: marM
    margin-bottom: marStd
@media print
    body 
        font-size:14px
    div.navHeight,   
    .ctaButton,
    body > header,
    body > footer
        display: none !important
    img.print
        display: block
        max-width: 60%
    div.catItem img.print
        display: block
        width: 20%
        height: auto
        margin-bottom: marM
    div.gallery div.galleryItem
        min-height: auto
    div.gallery div.thumbImg
        display: inline-flex
    div.gallery div.thumbImg a
        width: auto
        height: auto
        flex-basis: 15%
    div.gallery div.thumbImg span
        width: auto
        display: block
    div.gallery div.thumbImg span img
        width: 100%
        height: auto
    div.thumbImg a.activeLink,
    div.thumbImg a.isVideo
        display: none
    table.rowResponsive tbody tr
        border-bottom: none
    body.model main > article:nth-of-type(1),
    body.model main > article:nth-of-type(2)
        page-break-after: always
    body.model main > hr
        display none
    body.model main > article
        padding-top: marL

    




// smallTeasers
a.smallTeaser
    display:inline-flex
    align-items: center
    background-color: white
    padding: padXXS*.75
    padding-right: padXS
    margin-bottom: marXXS
    border-radius: 6px
    min-width: 23vw
    max-width: 23vw
    transition: 0.15s
    @media phoneRule
        min-width:auto
        max-width:100%

a.smallTeaser span
    display: block
    flex-grow: 0
    flex-shrink: 0
    background-color: brand1
    width: 70px
    height: 70px
    border-radius: 4px
    margin-right: 1em
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    overflow: hidden
a.smallTeaser span i
    color: white
    font-size: 40px
    width: 70px
    height: 70px
    border-radius: 0
a.smallTeaser p
    margin: 0
    font-size:80%
    line-height: 130%
a.smallTeaser p strong
    display: block
    font-size:120%
    line-height: 120%
    margin-bottom: marXXS*0.1
a.smallTeaser p u
    font-weight: 600
@media (pointer: fine)    
    a.smallTeaser:hover
        box-shadow: 0 0 10px 5px blackAlp10
        transition: 0.25s
@media (pointer: coarse)
    a.smallTeaser
        box-shadow: 0 0 10px 5px blackAlp10


div.smallTeasers > a
        min-width:90vw
        max-width:90vw
        margin:marXS 0

@media phoneRule
   div.smallTeasers
        padding: 5vw
@media ttrigger

    div.smallTeasers
        display:flex
        flex-wrap: wrap
        justify-content: space-around
        padding: 0 padXS padXXS
        column-gap: marXS
        row-gap: marXXS
    div.smallTeasers > a
        min-width:43vw
        max-width:43vw
        margin:marXXS 0
@media dtrigger
    div.smallTeasers
        margin-left:marM
        margin-right:marM
    div.smallTeasers > a
        min-width:auto
        max-width:auto
        flex: 1 1 20%
        margin:0

   




// map
/* map */
.map 
    border:1px solid #000000

.map.large
    width:100%
    height:60vh

.map.med
    width:100%
    height:42.5vh
    @media phoneRule
        margin: marL 0


@media mtrigger
    .map.med
        height: 60vh
    
    .map.large
        width:100%
        height:60vh
    




// home feature cat items
body.home div.catList h6
    font-weight:700
    font-size:1.3em
span.ctaButton 
    margin-top:marXS
    margin-bottom: 0
    margin-top:auto
    @media phoneRule
        padding:padM padL
        font-size: 1em
        font-weight: 300
div.catList
    padding: padXXS 0 padXXS 0
@media dtrigger
    div.catList
        width: 100%
    div.catList div.catGroup
        display: flex
        justify-content: space-between
        align-items: stretch
        flex-wrap: wrap
        margin-top: marStd
        margin-bottom: marXS
    div.catList a.catItem
        display:flex
        flex-direction:column
        justify-content:flex-start
        flex-basis: 30%
        margin: 0
        padding:padXS
        padding-bottom:padStd
        border-radius: 10px
        box-shadow: 0 0 10px 5px blackAlp10
    div.catList a.catItem div.imageThumb
        height: 13vw
    div.catList a.catItem div.keyStats
        margin-bottom: marXS
        margin-top: 0




// check promo homepage
div.checkPromo
    margin-bottom: marXS
div.checkPromo > div
    display: flex
    flex-wrap: nowrap
    width 100%

div.checkPromo > div > *:first-child
    //flex-basis: 35%
    @media phoneRule
        flex-grow: 1
div.checkPromo > div > *:last-child
    margin-left:1vw

div.sliderCopy
    @media ttrigger
        max-width:95%    