// typo defaults
a:link, a:visited
    color: brand1
    text-decoration: none
p a:link,
p a:visited,
li a:link,
li a:visited
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited
    text-decoration: underline
@media (pointer: fine)
    h2 a:hover,
    h3 a:hover
        text-decoration: none !important
.activeLink
    font-weight: 600 !important

body > footer,
body > footer h5
    color: blackAlp50

// custom typo
ul
    margin-top: 1.5em
    margin-bottom: 1.5em
    padding-left: 1em

ul li
    line-height: 1.4em
    margin-bottom: 0.4em
    list-style-type: disc

// picturefill-bg and image teaser
*.lighttext,
*.lighttext a,
*.picturefill-background,
*.picturefill-background a
    color: white 
@media ttrigger
    *.picturefill-background.lighten1,
    *.picturefill-background.lighten1 a,
    *.picturefill-background.lighten2,
    *.picturefill-background.lighten2 a
    *.picturefill-background .darktext,
    *.picturefill-background .darktext a
        color: blackAlp50
    *.lighttext,
    *.lighttext a
        color: white      
*.picturefill-background a
    text-decoration: underline



.activeLink, 
nav a:hover,
p a:hover,
li a:hover,
*.picturefill-background a:hover
    color: brand0 !important
    transition: 250ms
    text-decoration: none !important
@media (pointer: fine)
    nav a:hover
        color: brand0 !important
.activeLink,
.activeLink:hover
    color: brand3 !important

// nav typo
nav a,
footer a
    font-weight:500 !important
    font-size:1em !important
nav a
    padding: 0 padXS*0.5 0 padXS*0.5
    margin: 0 marXXS*0.1
header nav a:last-child
    padding-right: 0    

h1, h2, h3, h4 ,h5, h6
    margin: 0
    margin-bottom: 0.5em

// defaults   
h1
    font-weight: 1000
    font-size: 2.8em
    line-height: 105%
    letter-spacing: -0.045em
    //color: brand1
h1 span
    //font-weight: 300
    //letter-spacing: -0.02em    
h2
    font-weight: 1000
    font-size: 2.1em
    line-height: 105%
    letter-spacing: -0.035em
    color: brand1

h2 span
    //font-weight: 300
    //letter-spacing: -0.015em    
h3, body.model h2
    font-weight: 700
    font-size: 1.7em
    line-height: 115%
    letter-spacing: -0.035em
    color: brand1

h3 span
    //font-weight: 300
    //letter-spacing: -0.01em    
h4
    font-weight: 600
    font-size: 1.3em
    line-height: 1.3em
    letter-spacing: -0.01em
h4 span
    //font-weight: 400    
h5
    font-weight: 700
    font-size: 1.2em
    line-height: 125%
    letter-spacing: -0.02em
h5 span
    //font-weight: 400
    //letter-spacing: -0.01em      
h6
    font-weight: 400
    font-size:1em
    line-height: 130%
    letter-spacing: -0.015em
p
    font-weight: 350
    font-size: 0.95em
    line-height: 1.4em
    letter-spacing: -0.025em
    margin-top: marXXS
    margin-bottom: marXS
li
    font-weight: 350
    font-size: 0.95em
    line-height: 1.35em
    letter-spacing: -0.025em 
td
    font-weight: 350
    font-size: 0.95em
    line-height: 1.35em
    letter-spacing: -0.025em    
strong 
    font-weight: 700
    letter-spacing: -0.015em

// modify typo
.small
    font-size: 0.8em  
    line-height: 1.8em  
.price
    color: brand6
.lighttext h1,
.lighttext h2,
.lighttext h3,
.lighttext h4,
.lighttext h4,
.lighttext h4
    color: white


// footer



@media mtrigger
    h1
        font-size: 2.2em   
        line-height: 110%
    *.picturefill-background h1
        font-size: 2.2em   
        line-height: 110%    
    h2
        font-size: 1.8em
        line-height: 110%
    h3
        font-size: 1.4em
        line-height: 110%
    h4
        font-size: 1.6em
        line-height: 110%
    h5
        font-size: 1.2em
        line-height: 110%
    h6
        font-size: 1.1em
        line-height: 110%

    p
        font-size: 0.9em
    h1, h2, h3, h4, h5, h6, p
        margin-bottom: 0.5em;








@media ttrigger 
    .secTitle
        font-size: 7em
        font-weight: 650
        letter-spacing: -0.045em
        text-indent: -0.08em
        color:brand4
    h1.bigger
        font-size:3em



